:host {
    position: fixed;
    z-index: 1001;
    height: 100%;
    width: 100%;
}

.spinner_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(112, 177, 241, .5);
}