.container {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    }
.tarea {
    border-radius: 20px;
    width: 30%;
    padding: 5px;
    }
.nuevas {
    background-color: rgb(245, 228, 186);
}
.proceso {
    background-color: rgb(206, 248, 197);
}
.terminadas {
    background-color: rgb(245, 185, 170);
}
/*para tabla
.container{
border: 1px solid;
margin: 2%;
display: flex;
justify-content: center;
}*/