<div class="container">
    <div class="tarea nuevas"></div>
    <div class="tarea proceso"></div>
    <div class="tarea terminadas"></div>
</div>

<!--
    <div class="container">
    <table>
        <thead>
           <tr>
               <td>Nuevas</td>
               <td>Proceso</td>
               <td>Terminadas</td>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td>tarea1</td>
                <td>tarea2</td>
                <td>tarea3</td>
            </tr>
        </tbody>
    </table>
</div>

-->